#title {
    /* background-color: #ebede3; */
    
}

@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Caesar/CaesarDressing-Regular.ttf");
}
@font-face {
    font-family: MonBold;
    src: url("../fonts/Rat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Monlight;
    src: url("../fonts/Rat/static/Montserrat-Medium.ttf");
}

#features {
    /* background-color: rgba(235,237,227,1); */
    background: linear-gradient(to left, rgba(2,0,36,1) 0%, white 0%, rgba(235,237,227,1) 100%); 
    padding: 7% 15%;

}

.feature-box{
    text-align: center;
    padding: 5%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(139,226,233,1) 0%, rgba(235,237,227,1) 100%); 
    font-family: MonBold, sans-serif;
}

h1 {
    font-family: MonBold, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: whitesmoke;
}

h2 {
    font-family: MonBold, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: whitesmoke;
}

h3 {
    font-family: MonBold;
    font-size: 1.8rem;
    
}

p {
    font-family: Monlight, sans-serif;
    color: #8f8f8f;
    font-size: 1.3rem;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: myFirstFont;
    font-size: 1.2rem;
}

.button-download {
    margin: 5% 4% 5%;
}

.title-image {
    width: 700px;
    padding: 0% 20% 20% 0%;
}

.icons {
    color: rgb(170, 229, 233);
}
.icons:hover {
    color : rgb(121, 218, 224);
}

#testimonials {
    padding: 7% 15% 7%;
    text-align: center;
    color: aliceblue;
    background: rgba(139,226,233,1) ;
}

.testimonial-image {
    width: 20%;
}

