
body {
    color:grey;
    background-color:azure;
}
hr {
    background-color: azure;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: #66bfbf;
}

a {
    color: paleturquoise;
}
a:hover {
  color: darkturquoise;
}

.hero-image {
    background-image: url("../html/Whale.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-image-contact {
    background-image: url("../html/JellyFish.webp");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text-contact {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #heading {
    color: blue;
  }